#index-body {
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("http://localhost/phpharjoitukset7/photo-text.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#tapahtumat-body {
    background-image: url("http://localhost/phpharjoitukset7/street.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#feedback-body {
    height: 100vh;
    background: linear-gradient(153deg, rgba(0,0,0,1) 0%, rgba(14,9,121,1) 35%, rgba(255,0,215,1) 100%);
    color: #d770f9;
}
.container {
    font-family: "Instrument Sans", sans-serif;
    width: 33%;
    padding: 50px;
    margin: 50px auto;
    backdrop-filter: blur(10px);
    border-radius: 15px;
}
.tapahtumat-container {
    font-family: "Instrument Sans", sans-serif;
    width: 33%;
    padding: 50px;
    margin: 50px auto;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}
.tapahtumat-container fieldset {
    margin: 25px 0 50px 0;
}
.feedback-container {
    font-family: "Instrument Sans", sans-serif;
    width: 33%;
    padding: 50px;
    margin: 50px auto;
    background: rgba( 0, 0, 0, 0.2 );
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    border: #7A0BC0 solid 1px;
}
.feedback-container input {
    color: #fff;
    background-color: #7A0BC0;
}
#feedback {
    margin-bottom: 30px;
}
.title {
    font-size: 40px;
    margin-bottom: 50px;
}
.input-container {
    margin-bottom: 30px;
    font-size: 25px;
}
label {
    padding-right: 20px;
}
input {
    width: 300px;
    height: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.input-radio {
    width: 50px;
    height: 15px;
}
input[type='radio'] {
    accent-color: #232323;
}
textarea {
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.galery-image img {
    width: 300px;
}
/* button */

.button-orange {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-orange:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-orange:active {
  transform: scale(0.95);
}

.button-blue {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #0e0979;
    background-image: linear-gradient(45deg, #000 0%, #0e0979  51%, #000  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-blue:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  
  .button-blue:active {
    transform: scale(0.95);
  }
/* backdrop-filter: blur(5px); */