.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body {
  font-family: "Roboto", sans-serif;
  padding: 50px 200px;
}
h1 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
}
h2 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 30px 0;
}
form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
li {
  margin-bottom: 20px;
}
input {
  margin-bottom: 30px;
}

/* button */
.button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 30px auto 30px auto;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}