:root {
    --yellow: #ECAE43;
    --white: #fff;
    --black: var(--black);
    font-family: "Open Sans", sans-serif;
}
header {
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1577308856961-8e9ec50d0c67?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    /* background-position: 10% 20%; */
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: right;
    font-family: "Open Sans", sans-serif;
}
.header_ {
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1577308856961-8e9ec50d0c67?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Open Sans", sans-serif;
}
.main-header {
    height: 50vh;
}
.header-container {
    width: 100%;
    height: 100vh ;
    display: flex;
}
.main-header-container {
    width: 100%;
    display: flex;
}
.title-container {
    width: calc(50% - 10em);
    height: 100%;
    background: var(--white);
    padding-left: 6em;
}
.title-container p {
    width: 30em;
    line-height: 25px;
    font-size: 18px;
}
.img-container {
    width: calc(50% + 10em);
    height: 100%;
    border-left: 150px solid var(--white);
    border-bottom: 100vh solid transparent;
    box-sizing: border-box;
}
.yellow {
    color: var(--yellow);
}
.navbar {
    display: flex;
    list-style-type: none;
    justify-content: start;
}
.navbutton, .footer-navbutton {
    display:inline-block;
    padding: 1.8em 3em 1.8em 0em;
    text-align: center;
    font-size: 1.2em;
}
.navbutton a:hover, .navbutton a:active {
    color: var(--yellow);
}
.navbutton a {
    text-decoration: none;
    color: var(--black);
}
.title-container h1 {
    font-size: 70px;
    font-family: "Gloock", serif;
    margin: 2em 0em 1em 0em;
}
main {
    border-top: var(--yellow) 2px solid;
    padding-top: 50px;   
    background-color: var(--white);
}
img {
    width: 100%;
    overflow: hidden;
    
}
/* login and register form */
.inputarea {
    display:flex;
    width: 50%;
    margin: 50px auto;
    padding: 50px 0;
    justify-content: center;
    -webkit-box-shadow: 3px 10px 16px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 3px 10px 16px 0px rgba(0,0,0,0.55);
    box-shadow: 3px 10px 16px 0px rgba(0,0,0,0.55);
    font-weight: 600;
}

.inputarea input, textarea {
    width: 100%;
    flex-grow: 1;
    margin: 10px 0 20px 0;
    border-radius: 7px;
    border: 1px #000 solid;
    height: 30px;
    outline: none;
}
.form-title {
    text-transform: uppercase;
    font-size: 30px;
}
#sendbutton {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: var(--white);
}

.centeredtext, .centered {
    text-align: center;
}

.recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recipe {
    border: solid 0.1em;
    padding: 1em 2em;
    border-radius: 2em;
    width: 40%;
}
#login-button {
    background-color: var(--yellow);
    color: var(--white);
    font-size: 15px;
    font-weight: 500;
    padding: 15px 25px;
    border-radius: 30px;
    text-transform: uppercase;
}
.yellow-button {
    width: 150px;
    height: 50px;
    background-color: var(--yellow);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    margin-top: 30px;
}
.yellow-button a {
    color: var(--white);
}
.yellow-button:hover, #login-button:hover {
    border-bottom: var(--black);
    border-right: var(--black);
    background-color: #eaa221;
    -webkit-box-shadow: 10px 9px 18px -5px rgba(236,174,67,1);
    -moz-box-shadow: 10px 9px 18px -5px rgba(236,174,67,1);
    box-shadow: 10px 9px 18px -5px rgba(236,174,67,1);;
}

/* footer */
footer {
    background-color: var(--yellow);
    padding: 100px 0 50px 0px;
}
.some {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
}
.some a {
    font-size: 30px;
    color: var(--black);
}
.footer-navbar {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-weight: 500;
}
.footer-nav {
    border-bottom: 2px var(--white) solid;
    margin-bottom: 50px;
}
.footer-bottom {
    display: flex;
    justify-content: center;
}
#year {
    padding-right: 10px;
}