/* HEADER */

header {
    height: 4em;
    background: var(--dark-blue);
    padding: 2em 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-title {
    font-size: 2em;
    text-transform: uppercase;
    color: var(--white);
}

.main-title-mobile {
    display: none;
}

.logo {
    flex: 1 1 0;
    text-align: right;
}
.logo i {
    font-size: 3em;
}
.main-title {
    flex: 1 1 0;
    text-align: center;
  }
  
.menu {
    flex: 5 1 0;
    text-align: center;
}

.menu-icon {
    font-size: 2em;
}

nav ul li {
    display: inline;
    padding: 0;
    margin: 0;
    line-height: 1;
    vertical-align: middle;
}

.navbutton {
    background-color: var(--yellow);
    color: var(--dark-blue);
    min-width: 10em;
    padding: 0;
    height: 3.1em;
    border-radius: 10px;
    border: none;
    margin-left: 1em;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}
.navbar-link, .navbar-link:visited {
    color: var(--yellow);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    margin-left: 2%;
}
.navbar-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: var(--yellow);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.navbar-link:hover::after {
    transform: scaleX(1);
}
.fa-solid {
    font-size: 2em;
    cursor: pointer;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.fa-solid.fa-bars {
    display: none;
}

@media (max-width: 1200px) {
    .menu__list {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    .fa-solid.fa-bars {
        display: block;
    }
}

@media (max-width: 900px) {
    header {
        padding: 3em 1em;
    }
}

@media (max-width: 800px) {
    header {
        padding: 2em 4em 5em 4em;
    }

    .main-title {
        display: none;
    }

    .main-title-mobile {
        display: block;
        font-size: 1.2em;
        text-transform: uppercase;
        color: var(--white);
        padding: 1em 0;
    }
}
@media (max-width: 600px) {
    header {
        padding: 1em 2em 1em 1em;
    }

    .main-title {
        display: none;
    }

    .main-title-mobile {
        display: block;
        font-size: 1.2em;
        text-transform: uppercase;
        color: var(--white);
        padding: 1em 0;
    }
    .logo {
        text-align: left;
    }
}
